.ArticleDetails {
    min-height: 100%;
}

.avatar {
    margin: 0 auto 40px;
    display: block;
}

.title {
    margin-top: 20px;
}

.skeleton {
    margin-top: 15px;
}

.articleInfo {
    display: flex;
    margin-bottom: 20px;
}

.articleInfoText {
    margin-left: 12px;
}
