.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    position: relative;
    transition: width 0.3s;
}

.items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    padding-left: 30px;
}

.item {
    padding-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.icon {
    fill: var(--inverted-primary-color);
}

.link {
    padding: 10px;
    opacity: 1;

    &:hover {
        color: var(--secondary-color);
    }
}

.switchers {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.lang {
    margin-left: 20px;
}

.collapsedButton {
    position: absolute;
    bottom: 32px;
    right: -32px;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
        align-items: center;
    }

    .lang {
        margin-left: 0;
    }

    .link {
        opacity: 0;
        transition: 0.2s opacity;
        width: 0;
    }
}
