.app.light {
  --bg-color: #b8b8bd;
  --inverted-bg-color: #07075e;

  --primary-color: #0a44f1;
  --inverted-primary-color: #68cec2;

  --secondary-color: #0449e0;
  --inverted-secondary-color: #04ff04;
}
