.app_purple_theme {
    --bg-color: #845ec2;
    --inverted-bg-color: #008e9b;
    --primary-color: #ff6f91;
    --secondary-color: #ff9671;
    --inverted-primary-color: #ffc75f;
    --inverted-secondary-color: #f9f871;
}
