.app_purple_theme {
  --bg-color: #845EC2;
  --inverted-bg-color: #008E9B;
  --primary-color: #FF6F91;
  --secondary-color: #FF9671;
  --inverted-primary-color: #FFC75F;
  --inverted-secondary-color: #F9F871;
}
